.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  text-align: center;
  max-height: fit-content;
}
.form input {
  width: 100%;
}
.form label,
p {
  text-align: start;
}

.dateContainer{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.openCalendarButton,
.submitButton {
  padding: 6px 15px;
  box-sizing: border-box;
  background-color: rgba(72, 128, 255, 1);
  color: white;
  border-radius: 12px;

  transition: all 0.2s ease;
}
.openCalendarButton:hover,
.submitButton:hover {
  background-color: rgb(52, 92, 186);
}

.dropImage {
  cursor: pointer;
}

.selectedFile {
  margin: 0;
}

.invalidWarning {
  color: red;
  text-align: center;
  margin: 0;
}

.calendarContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  z-index: 70;
  border-radius: 20px;
  box-shadow: 6px 6px 54px 0px rgba(0, 0, 0, 0.05);
}


@media (max-width: 410px) {
  .dateContainer{
    flex-direction: column;
    gap: 10px;
  }

}