.layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.clock {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stick {
  position: absolute;
  width: 5px;
  height: 18px;
  background-color:#d6d6d6;
  border-radius: 3px;
  opacity: 0.3;
  transition: all 0.2s ease;
  transform-origin: center 45px;
  transform: rotate(var(--rotation));
}

.active {
  background-color: #bcbcbc;
  opacity: 1;
  transform: scale(1.15) rotate(var(--rotation));
}

