.asideContainer {
  width: 286px;
  min-height: 950px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 1);
  border: 0.3px solid rgba(185, 185, 185, 1);
  position: relative;
  padding-bottom: 60px;
}

.asideInner {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-size: 18px;
  line-height: 24.55px;
  text-align: left;
}

.eventsList {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1276px) {
  .asideContainer {
    min-height: auto;
    height: auto;
    width: 900px;
    display: flex;
  }
  
.asideInner {
  max-width: 150px;
  height: auto;
  /* padding: 10px; */
}
.eventsList {
  flex-direction: row;

}
}

@media (max-width: 1100px) {
  .asideContainer {
    width:80vw;
  }
}


@media (max-width: 456px) {
  .tinyScreenLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .asideInner {
    order: 1;
  }

  .eventsList {
    order: 2;
    margin-top: 16px;
  }

  .seeMoreButton {
    order: 3;
    margin-top: 16px;
  }
}
