.weatherWidgetSection {
  background-color: white;
  box-shadow: 6px 6px 54px 0px rgba(0, 0, 0, 0.05);
  padding: 24px;
  width: 360px;
  height: 410px;
  border-radius: 14px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 22px;
  line-height: 20px;
}

.tempContainer {
  display: flex;
  align-items: center;
}

.temp {
  font-size: 4em;
}

.weathericon {
  flex-grow: 2;
  object-fit: cover;
}

.weather {
  font-size: 2em;
}
