.totalSection {
    display: flex;
    gap: 30px;
}

@media (max-width: 1250px) {
    .totalSection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
    }
}

@media (max-width: 950px) {
    .totalSection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 630px) {
    .totalSection {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;

      }
  }
  