

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  .form > label {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .form input {
    border: 1px solid rgba(216, 216, 216, 1);
    background: rgba(241, 244, 249, 1);
    border-radius: 8px;
    padding: 0 20px;
    height: 45px;
  }
  
  .labelPassword {
      display: flex;
      justify-content: space-between;
  }
  
  .error {
      color: red;
  }

  .rememberPassContainer {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-right: auto;
  }

  .rememberPassContainer input {
    outline: none;
  }