.mainContainer {
    display: flex;
    justify-content: center;
}

.mainWrapper {
    padding: 30px 0 30px 0;
    width: 1138px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 1270px) {
    .mainWrapper {
        max-width: 1138px;
        width: 100%;
        padding: 30px;
    }
}

@media (max-width: 865px) {
    .mainWrapper {
        padding: 20px;
    }
}

@media (max-width: 750px) {
    .mainWrapper {
        padding: 10px 15px 10px 10px;
        width: 80%;
        right: 0;       
    }

    .mainContainer {
        display: flex;
        justify-content: right;
    }
    
}

@media (max-width: 400px) {
    .mainWrapper {
        padding: 10px 15px 10px 60px;     
    }
    
}