.mainContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* align-items: flex-start; */
}

.mainContentContainer {
    flex-grow: 2;
    position: relative;
}

@media(max-width: 546px) {
    .mainContainer {
        display: block;
    }

    .mainContentContainer {
        flex-grow: 0;
        flex-shrink: 0;
        max-width: 100%;
      }
      
    
}